body {
    font-family: Arial;
    background: #f3f3f3;
}

.container {
    width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #aaa;
    padding: 8px;
}
